# Please keep in mind that time constants are provided in ms
# Note: simulation_time will be ignored if realtime_processing is set to True

[timbit]
simulation_time = 300000
network_size_x = 100
network_size_y = 100
pathloss_model = rssi_based
number_of_mobile_dev = 1
number_of_static_dev = 0
server_processing_capacity = 1
realtime_processing = False
node_speed_min = 1.2
node_speed_max = 1.6
resting_time_min = 5000
resting_time_max = 15000
location_update_interval = 100
